body {
    background-color: black;

}

button {
    display: inline-block;
    border: 5px solid yellow;
    background-color: lawngreen;
    width: 400px;
    transition-duration: 2s;


}
button:hover {
    background-color: red;

    cursor:pointer;

width: 150px;
transition-duration: 1s;

}

.infobox {
    border: 1px solid yellow;
    font-weight: bold;
    color: white;
    width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
}